<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SW_Level_Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SW_Level_Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SW_Level_Bot.Properties.Settings>
            <setting name="Rootpath" serializeAs="String">
                <value>%HOMEPATH%\Desktop\TodaysRunes\Rune</value>
            </setting>
            <setting name="Subpath" serializeAs="String">
                <value>%HOMEPATH%\Desktop\TodaysRunes\Sold5Stars\Rune</value>
            </setting>
        </SW_Level_Bot.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SW_Level_Bot.Properties.Settings>
            <setting name="ConfigPath" serializeAs="String">
                <value>config.json</value>
            </setting>
            <setting name="WindowName" serializeAs="String">
                <value>Mobizen Mirroring</value>
            </setting>
        </SW_Level_Bot.Properties.Settings>
    </userSettings>
</configuration>